@media(max-width: 1550px) {
    .comment__items {
        max-width: 1250px;
        .slick-arrow {
            &.slick-next {
                right: 10px;
            }
        }
    }
    .comment {
        .slick-track {
            .slick-active {
                &+.slick-active {
                    &~.slick-slide {
                        opacity: .5;
                    }
                }
            }
        }
    }
}

@media(max-width: 1440px) {
    .galery-bottom__item {
        &:first-child {
            display: none;
        }
    }
    .list__items {
        flex-wrap: wrap;
    }
}

@media(max-width: 1350px) {
    .main-info__advantage {
        .slick-arrow {
            &.slick-next {
                right: 0;
            }
        }
    }
    .advantage__items-wrap {
        max-width: 800px;
    }
}

@media(max-width: 1280px) {
    .header__box {
        .add-object {
            display: none;
        }
    }
    .comment__company-item {
        &+& {
            margin-left: 50px;
        }
    }
    .list__items {
        justify-content: flex-start;
    }
}

@media(max-width: 1250px) {
    .advantage__items-wrap {
        max-width: 700px;
    }
}

@media(max-width: 1180px) {
    .galery-bottom__item {
        &:nth-child(2) {
            display: none;
        }
    }
    .galery-bottom {
        justify-content: space-around;
    }
    .advantage__items-wrap {
        max-width: 600px;
    }
    .main-info__bottom {
        flex-direction: column;
        align-items: center;
    }
    .variant-box__text {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .variant-box {
        margin-left: 0;
        max-width: 380px;
    }
    .comment__company-item {
        &+& {
            margin-left: 30px;
        }
    }
}

@media(max-width: 1050px) {
    .header__box {
        .elem {
            &.elem {
                margin-left: 10px;
            }
        }
        .btn {
            width: 150px;
            font-size: 12px;
        }
        .country {
            img {
                margin-right: 5px;
            }
        }
    }
    .menu__list {
        .menu__item {
            &+.menu__item {
                margin-left: 20px;
            }
        }
    }
    .advantage__items-wrap {
        max-width: 500px;
    }
    .main__inner {
        flex-direction: column;
    }
    .aside {
        margin-bottom: 30px;
    }
    .content {
        margin-left: 0;
    }
    .aside__wrapper {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 25px 40px 50px;
    }
    .form-box {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .aside__title,
    .night,
    .children-room,
    .travel,
    .form-btn {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .form {
        .data {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .variant-box__text {
        max-width: 700px;
    }
    .galery-bottom__item {
        &:nth-child(2) {
            display: flex;
        }
    }
    .advantage__items-wrap {
        max-width: 800px;
    }
    .notes__par {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .comment__company {
        width: 1050px;
        &-wrap {
            overflow-x: scroll;
        }
    }
}

@media(max-width: 960px) {
    .comment__items {
        max-width: 600px;
    }
    .comment {
        .slick-track {
            .slick-active {
                &~.slick-slide {
                    opacity: .5;
                }
            }
        }
    }
}

@media(max-width: 850px) {
    .menu {
        margin-left: 30px;
        position: relative;
    }
    .menu__list {
        display: none;
        position: absolute;
        top: 56px;
        width: 250px;
        z-index: 2;
        .menu__item {
            display: block;
            background-color: $black;
            text-align: center;
            &+.menu__item {
                margin-left: 0;
                border-top: 1px solid #fff;
            }
            &.active {
                &::before {
                    display: none;
                }
            }
        }
    }
    .burger-menu {
        display: block;
        width: 30px;
        cursor: pointer;
        div {
            height: 3px;
            background-color: #fff;
            &+div {
                margin-top: 5px;
            }
        }
    }
    .header__inner {
        justify-content: flex-start;
    }
    .header__box {
        margin-left: auto;
    }
    .breadcrumbs__list {
        flex-wrap: wrap;
        max-width: 400px;
    }
    .footer__info {
        margin-left: 0;
    }
    .footer__inner {
        justify-content: space-between;
    }
    .saving__btn {
        flex-direction: column;
        .btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .saving__email {
        margin-bottom: 30px;
    }
    .saving__subtitle {
        margin-bottom: 50px;
    }
    .galery-bottom__item {
        &:nth-child(2) {
            display: none;
        }
    }
    .advantage__items-wrap {
        max-width: 650px;
    }
    .list__item {
        font-size: 14px;
    }
    .service__col {
        &+& {
            margin-left: 10px;
        }
    }
    .service__col-list {
        padding-left: 10px;
    }
}

@media(max-width: 700px) {
    .advantage__items-wrap {
        max-width: 450px;
    }
    .aside__wrapper {
        padding: 25px 16px 50px;
        max-width: 500px;
    }
    .content__benefit {
        margin-left: 20px;
    }
    .disposition__items {
        display: block;
        &.margin-left {
            margin-left: 0;
        }
        &.margin-top {
            margin-top: 0;
        }
        &+& {
            margin-top: 10px;
        }
    }
    .main-info {
        padding: 20px 15px;
    }
    .main-info__title {
        font-size: 20px;
    }
    .notes__wrap {
        padding: 20px 15px;
    }
    .condition__wrapper {
        padding: 30px 15px 40px;
    }
    .condition__info {
        margin-left: 20px;
        .condition__boxs {
            padding: 10px 15px;
        }
    }
    .condition-line {
        font-size: 14px;
        &+& {
            margin-top: 30px;
        }
    }
    .condition__container {
        padding-left: 40px;
    }
    .condition__card {
        img {
            &+img {
                margin-left: 10px;
            }
        }
    }
    .condition-bottom {
        padding-top: 40px;
    }
    .service__box {
        flex-direction: column;
    }
    .service__col {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        &+& {
            margin-left: auto;
            margin-right: auto;
        }
        .list__item {
            span {
                display: none;
            }
        }
        &.first {
            .service__col-item {
                &+.service__col-item {
                    margin-top: 0;
                }
            }
        }
    }
    .service__col-list {
        padding-left: 50px;
    }
    .service__col-item {
        &+& {
            margin-top: 30px;
        }
    }
    .service__col-list {
        display: none;
    }
    .service__col-title {
        margin-top: 30px;
        .arrow {
            display: block;
            width: 32px;
            height: 25px;
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            &-left {
                position: absolute;
                top: 10px;
                left: 0;
                width: 20px;
                height: 4px;
                display: block;
                background-color: transparent;
                transform: rotate(45deg);
                float: right;
                border-radius: 2px;
                &::after {
                    content: '';
                    width: 20px;
                    height: 4px;
                    display: block;
                    float: right;
                    background-color: $green;
                    border-radius: 6px 10px 10px 6px;
                    transition: all .5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
                    z-index: -1;
                }
            }
            &-right {
                position: absolute;
                top: 10px;
                left: 12px;
                width: 20px;
                height: 4px;
                display: block;
                background-color: transparent;
                transform: rotate(-45deg);
                float: right;
                border-radius: 2px;
                &::after {
                    content: '';
                    width: 20px;
                    height: 4px;
                    display: block;
                    float: right;
                    background-color: $green;
                    border-radius: 10px 6px 6px 10px;
                    transition: all .5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
                    z-index: -1;
                }
            }
        }
        .open {
            .arrow {
                &-left {
                    &::after {
                        transform-origin: center center;
                        transform: rotate(-90deg);
                    }
                }
                &-right {
                    &::after {
                        transform-origin: center center;
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    .comment__title {
        font-size: 20px;
    }
}

@media(max-width: 600px) {
    .header__box {
        position: relative;
        &-wrap {
            display: none;
            position: absolute;
            top: 62px;
            right: -15px;
            background-color: $black;
            width: 250px;
            z-index: 1;
        }
        &-img {
            display: flex;
        }
        .elem {
            margin-left: auto !important;
            margin-right: auto;
            margin-top: 10px;
            text-align: center;
            &:last-child {
                margin-bottom: 10px;
            }
        }
        .country {
            display: flex;
            width: 90px;
            justify-content: center;
        }
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__logo {
        margin-bottom: 30px;
    }
    .footer__info {
        text-align: center;
    }
    .aside__wrapper {
        max-width: 330px;
    }
    .form-box {
        width: 300px;
    }
    .main-info__title {
        font-size: 16px;
    }
    .main-info__start {
        margin-top: 5px;
    }
    .recall__text {
        font-size: 14px;
    }
    .recall__rating {
        width: 42px;
        height: 42px;
        font-size: 18px;
        margin-left: 5px;
    }
    .disposition__items {
        font-size: 14px;
    }
    .variant-box__text {
        font-size: 14px;
    }
    .list__items {
        flex-direction: column;
    }
    .list__item {
        margin-bottom: 10px;
        &+& {
            margin-left: 0;
        }
    }
    .notes__par {
        font-size: 14px;
    }
    .condition-line {
        flex-direction: column;
    }
    .condition__info {
        margin-left: 0;
    }
    .condition__text {
        max-width: 535px;
        margin-bottom: 40px;
    }
    .condition__info-line {
        max-width: 535px;
    }
    .service__title {
        font-size: 16px;
    }
}

@media(max-width: 550px) {
    .comment__item {
        padding: 20px;
        max-width: 350px;
    }
    .comment__item-title {
        font-size: 16px;
    }
    .comment__item-name {
        font-size: 15px;
    }
    .comment__item-text {
        font-size: 14px;
    }
    .comment__items {
        max-width: 400px;
        .slick-arrow {
            &.slick-next {
                display: none !important;
            }
        }
    }
    .main-info__galery {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .galery-bottom__item {
        max-width: 180px;
        img {
            width: 100%;
        }
        &.background {
            .substrate {
                font-size: 15px;
            }
        }
    }
    .advantage__items-wrap {
        max-width: 350px;
    }
    .slick-slide {
        text-align: center;
    }
    .main-info__recall {
        margin-left: 20px;
    }
    .notes__title,
    .condition__title {
        font-size: 16px;
    }
    .notes__link,
    .condition__link {
        font-size: 14px;
        max-width: 160px;
    }
    .condition__descr {
        font-size: 14px;
    }
    .comment__title {
        font-size: 16px;
    }
}

@media(max-width: 440px) {
    .menu__list {
        left: -153px;
    }
    .content__benefit {
        font-size: 12px;
        min-width: 140px;
    }
    .list__item {
        font-size: 14px;
    }
    .advantage__items-wrap {
        max-width: 250px;
    }
    .slick-slide {
        text-align: left;
    }
    .main-info__galery {
        max-width: 300px;
    }
    .galery-bottom__item {
        max-width: 130px;
        &.background {
            .substrate {
                font-size: 12px;
            }
        }
    }
    .condition__box {
        flex-direction: column;
    }
    .condition__inner {
        margin-bottom: 20px;
        text-align: center;
    }
    .condition__wrapper {
        padding: 20px 10px 30px;
    }
    .condition__wrap {
        flex-direction: column;
    }
    .condition__info {
        .condition__wrap-text {
            max-width: 345px;
            margin-bottom: 20px;
        }
        .condition__wrap-desc {
            margin-left: 0;
        }
    }
    .condition__card {
        img {
            &+img {
                margin-left: 5px;
            }
        }
    }
    .service__col-title {
        font-size: 16px;
    }
    .comment__title {
        font-size: 14px;
    }
}

@media(max-width: 400px) {
    .footer__info {
        font-size: 16px;
    }
    .comment__item {
        padding: 10px;
        border-radius: 10px;
        max-width: 280px;
    }
    .main-info {
        padding: 20px 10px;
    }
    .variant-detail {
        padding: 15px 20px;
    }
    .variant-info {
        padding: 15px;
    }
    .aside__wrapper {
        max-width: 300px;
    }
    .form-box {
        width: 270px;
        input {
            &::placeholder {
                font-size: 14px;
            }
        }
    }
    .children-room {
        select {
            width: 130px;
        }
    }
    .list__item {
        font-size: 12px;
    }
}

@media(max-width: 360px) {
    .form-box {
        width: 250px;
        input {
            &::placeholder {
                font-size: 12px;
            }
        }
    }
    .children-room {
        select {
            width: 115px;
            font-size: 12px;
        }
    }
    .content__disposition {
        flex-direction: column;
    }
    .content__benefit {
        margin-left: 0;
    }
    .disposition__list {
        margin-bottom: 20px;
    }
    .main-info__title {
        font-size: 14px;
    }
    .recall__text {
        font-size: 13px;
    }
    .recall__rating {
        width: 38px;
        height: 38px;
        font-size: 16px;
    }
    .variant-form__text {
        input {
            width: 190px;
        }
    }
    .variant-form__enter,
    .variant-form__exit {
        width: 95px;
    }
    .know-price {
        min-width: 130px;
        height: 32px;
        font-size: 12px;
    }
    .variant-form__text {
        margin-bottom: 15px;
    }
    .variant-detail__title {
        font-size: 18px;
    }
    .container {
        padding: 0 10px;
    }
    .service__col-title {
        padding-left: 10px;
    }
    .service__col-list {
        padding-left: 10px;
    }
}

@media (min-width: 850px) {
    .menu__list {
        display: block !important;
    }
}

@media (min-width: 600px) {
    .header__box-wrap {
        display: flex !important;
    }
}